<div class="hero">
    <div class="carousel container">
        <div class="row parent">
            <div class="ribbion"></div>
            <div class="col-lg-5 mt-lg-5 content">
                <h1>Boost your website’s online presence by 5x using metameteors.</h1>
                <p>We make top-notch search appearances.</p>
            </div>
            <div class="col-lg-7 google-pre mt-lg-5">
                <img src="../../assets/images/google-pre.png" alt="">
            </div>
            <div class="cta">
                <a href="generate-meta"><button class="btn-1">Generate Meta Tags</button></a>
                <a href=""><button class="btn-2">Contribute</button></a>
            </div>
            <div class="resources">
                <p class="text-light">Extra Resources</p>
                <a href="meta-tags">List of All Meta Tags</a>
                <a href="https://developers.google.com/search/docs/fundamentals/seo-starter-guide"
                    target="_blank">Google SEO Starter Guide</a>
                <a href="https://en.wikipedia.org/wiki/Search_engine_optimization" target="_blank">SEO Wikipedia
                    Page</a>
            </div>
        </div>
    </div>

</div>
<div class="steps">
    <div class="container in-steps">
        <h1 class="text-center">How to use MetaMeteros to Generate Meta?</h1>
        <p><span>Step 1: Front-load target keyword</span></p>
        <p style="margin-left: 4rem;">If you’ve already written your page title, you are halfway to writing a good meta description.
            Front-load your target keyword near the start of your meta description to help get more clicks.</p>
    </div>
</div>
<div class="st">
    <div class="container pt-lg-5">
        <h1>What is an SEO meta description?</h1>
        <p>An SEO meta description is a short piece of text that appears below your website’s title in Google and other
            search engines.
        </p>
        <p> It helps you describe what your web page content is about in a few words.</p>
        <p> This is an important part of SEO because it is your visitor’s first impression of your page and can
            influence whether people click on your link or not.</p>
    </div>
    <div class="container pt-lg-5">
        <h1>Are meta descriptions important for SEO?</h1>
        <p>In a 5 million search results study, pages with meta descriptions have a higher click-through rate than those
            without.
        </p>
        <p> Meta descriptions are important because they help describe the content of your web page or blog post, which
            allows users to find your page when they type into their search bar.</p>

        <p> The meta description also appears on the SERP, which is an opportunity to grab attention and persuade people
            to click through.
        </p>
        <p> Meta descriptions are also important for social media marketing.</p>

        <p> Many social platforms such as Facebook and Twitter display your page description in posts.</p>
    </div>
</div>