.main{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-row{
    display: flex;
}
.head-para{
    text-align: center;
    font-size: 22px;
    margin: 1rem 0 1rem 0;
}
p{
    color: #fff;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 18px;
}
.main-col2{
   
    height: 50vh;
    background-color: royalblue;
}
input{
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    padding-left: 1rem;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 18px;
}
span{
    color: var(--albesent-white);
}
.title span {
    font-size: 12px;
    margin-left: 80%;
}
.description span {
    font-size: 12px;
    margin-left: 74%;
}
.author span {
    font-size: 12px;
    margin-left: 70%;
}
.keywords span {
    font-size: 12px;
    margin-left: 63%;
}

input:focus {
    background-color: #c4c4c4;
}

textarea {
    width: 100%;
    background-color: transparent;
    height: 180px;
    outline: none;
    color: #fff;
    font-size: 18px;
    padding: .5rem 1rem;
    /* padding-left: 1rem;
    padding-top: .5rem; */
}

.description input {
    height: 100px;
    text-align: left;
    text-wrap: nowrap;
}
img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}